.slider {
    margin-top: 65px;
    overflow: hidden;
    position: relative;
}

.slider-list-img {
    display: flex;
    justify-content: center
}

.slider-item-img {
    display:none
}

.slider-item-img.actice {
    display: block;
}

.slider-icon {
    position: absolute;
    content: "";
    top: 50%;
    left: 40px;
    font-size: 40px;
    transform: translateY(-50%)
}

.slider-icon__left,.slider-icon__right {
    padding: 20px 10px;
    background: #ccc
}

.slider-icon__right {
    left: unset;
    right: 40px;
}